{{define "title"}}Expeses{{end}}
{{define "css"}}/static/css/expenses.css{{end}}

{{define "main"}}
  {{ template "expenses/nav" "index" }}
  
  {{if gt (len .Banner.Icon) 0}} 
    {{template "banner" .Banner}}
  {{end}}

  <form class='search-form'>
    <div class="form-group">
      <input type='search' name='q' required>
    </div>
    <button 
      class="btn-primary"
      hx-post="/expense/search" 
      hx-target="#page" 
      hx-swap="outerHTML"
      type="submit">
      Search
    </button>
  </form>

  {{ if eq (len .Error) 0 }}
    {{ if gt (len .Query) 0 }}
    <h2> Results for {{.Query}} </h2>
    {{ end }}
    <div class="expenses-container">
        {{range $year := .Years}}
          {{$currentYear := (eq $year $.CurrentYear)}}
        
          <div class="expense-year">
            <div class="year-header">
              <h2>{{$year}}</h2>
            </div>
            
            <div class="expense-list {{if not $currentYear}}collapsed{{end}}">
              {{range $month := $.Months}}
                {{$currentMonth := (and (eq $month $.CurrentMonth) $currentYear)}}
                {{$expenses := index $.Expenses $year $month}}
                {{if gt (len $expenses) 0}}
                  <div class="month-header">
                    <h3>{{$month}}</h3>
                  </div>
                
                  <ul class="expense-list {{if not $currentMonth}}collapsed{{end}}">
                    {{range $expense := $expenses}}
                      <li class="expense-item">
                        <div class="text-gray-500 text-sm">{{$expense.Date.Format "2006-01-02"}}</div>
                        <div class="mx-4">
                          <p>{{$expense.Description}}</p>
                          <div class="expense-meta">
                            {{if $expense.Category}}
                              <span class="badge">{{$expense.Category.Name}}</span>
                            {{else}}
                              <span class="badge"></span>
                            {{end}}
                            <span class="font-italic">via {{$expense.Source}}</span>
                          </div>
                        </div>
                        <p class="amount ta-center {{if gt $expense.Amount 0}}income{{else}}expense{{end}}">
                          <b>{{formatMoney $expense.Amount "." ","}}€</b>
                        </p>
                        <div class="form-actions mt-0">
                          <a 
                            class="btn-warning btn-small"
                            hx-delete="/expense/{{.Expense.ID}}"
                            hx-target="#page" 
                            hx-swap="outerHTML show:window:top"
                            hx-confirm="Are you sure you want to delete the expense? This action cannot be undone.">
                            Exclude
                          </a>
                          <a 
                            class="btn-danger btn-small"
                            hx-delete="/expense/{{.Expense.ID}}"
                            hx-target="#page" 
                            hx-swap="outerHTML show:window:top"
                            hx-confirm="Are you sure you want to delete the expense? This action cannot be undone.">
                            Delete
                          </a>
                          <a 
                            class="btn-secondary btn-small" 
                            href="/expense/{{$expense.ID}}" 
                            hx-target=".expenses-container" 
                            hx-swap="innerHTML">
                            Edit
                          </a>
                        </div>
                      </li>
                    {{end}}
                  </ul>
                {{end}}
              {{end}}
            </div>
          </div>
        {{end}}
      </ul>
    </div>
  {{ else }}
    {{template "error" .Error}}
    <button class="btn-primary" hx-get="/expenses">Expenses</button>
  {{ end }}
{{end}}
 
