{{define "title"}}Expeses{{end}}

{{define "main"}}
  <form id='expenses-search-form'>
    <div class="form-group">
      <input type='search' name='q' required>
    </div>
    <button 
      hx-post="/search" 
      hx-target="#expenses" 
      hx-swap="innerHTML"
      type="submit">
      Search
    </button>
  </form>

  {{ if eq .Error nil }}
    <!-- List of Expenses -->
    <div id="expenses">
      <ul>
        {{range $expense := .Expenses}}
          {{if gt $expense.Type 0}}
            <li>{{$expense.Date.Format "2006-01-02"}} {{$expense.Description}} <span class="income"><b>{{formatMoney $expense.Amount "." ","}}€</b></span> - {{$expense.Category}} </li>
          {{else}}
            <li> {{$expense.Date.Format "2006-01-02"}} {{$expense.Description}} <span class="expense"><u>{{formatMoney $expense.Amount "." ","}}€</u></span> - {{$expense.Category}} </li>
          {{end}}
        {{end}}
      </ul>
    </div>
  {{ else }}
    <h2>There was an error: {{.Error}}</h2>
  {{ end }}
{{end}}
 
