{{define "title"}}Expeses{{end}}

{{define "main"}}
  <form id='expenses-search-form'>
    <div class="form-group">
      <input type='search' name='q' required>
    </div>
    <button 
      class="btn-primary"
      hx-post="/search" 
      hx-target="#expenses" 
      hx-swap="innerHTML"
      type="submit">
      Search
    </button>
  </form>

  {{ if eq .Error nil }}
    <!-- List of Expenses -->
    <div id="expenses">
        {{range $year := .Years}}
          {{$currentYear := (eq $year $.CurrentYear)}}
        
          <div class="expense-year">
            <div class="year-header">
              <h2>{{$year}}</h2>
              <span class="toggle-icon">▼</span>
            </div>
            
            <div class="expense-list {{if not $currentYear}}collapsed{{end}}">
              {{range $month := $.Months}}
                {{$currentMonth := (eq $month $.CurrentMonth)}}
                {{$expenses := index $.Expenses $year $month}}
                {{if gt (len $expenses) 0}}
                  <div class="month-header">
                    <h3>{{$month}}</h3>
                  </div>
                
                  <ul class="expense-list {{if not $currentMonth}}collapsed{{end}}">
                    {{range $expense := $expenses}}
                      <li class="expense-item">
                        <span class="text-gray-500 text-sm">{{$expense.Date.Format "2006-01-02"}}</span>
                        <div class="mx-4">
                          {{$expense.Description}}
                          <span class="badge">{{$expense.Category}}</span>
                        </div>
                        {{if gt $expense.Type 0}}
                          <span class="income"><b>{{formatMoney $expense.Amount "." ","}}€</b></span>
                        {{else}}
                          <span class="expense"><b>{{formatMoney $expense.Amount "." ","}}€</b></span>
                        {{end}}
                      </li>
                    {{end}}
                  </ul>
                {{end}}
              {{end}}
            </div>
          </div>
        {{end}}
      </ul>
    </div>
  {{ else }}
    {{template "error" .Error}}
  {{ end }}
{{end}}
 
