Spending: {{printf "%.2f" .Spending}} EUR
Income:   {{printf "%.2f" .Income}} EUR

Savings:  {{printf "%.2f" .Savings}} EUR

Categories 
---------------------
{{range $key, $value := .Categories}}
{{$key}} {{printf "%.2f" $value}}
{{- end}}
