Spending: {{printf "%.2f" .Spending}} EUR
Income:   {{printf "%.2f" .Income}} EUR

Savings:  {{printf "%.2f" .Savings}} EUR

Earnings Per Day:         {{printf "%.2f" .EarningsPerday}} EUR
Average Spending Per Day: {{printf "%.2f" .AverageSpendingPerDay}} EUR

Categories 
---------------------
{{range $category := .Categories}}
{{html $category.Display}}
{{- end}}
