Spending:                 {{formatMoney .Spending "." ","}}€
Income:                   {{formatMoney .Income "." ","}}€ 

Savings:                  {{formatMoney .Savings "." ","}}€ {{printf "%.2f%%" .SavingsPercentage}}

Earnings Per Day:         {{formatMoney .EarningsPerDay "." ","}}€ 
Average Spending Per Day: {{formatMoney .AverageSpendingPerDay "." "," }}€ 

Categories 
---------------------
{{range $category := .Categories}}
{{html $category.Display}}
{{- end}}
