{{range $idx, $expense := .Expenses}}
{{- if $expense.CategoryID.Valid}}
( "{{$expense.Source}}", {{$expense.Amount}}, "{{$expense.Description}}", {{$expense.Type}}, {{$expense.Date.Unix}}, "{{$expense.Currency}}", {{$expense.CategoryID.Int64 }}, {{$expense.UserID}}){{if lt $idx $.Length}},{{end}}
{{- else}}
( "{{$expense.Source}}", {{$expense.Amount}}, "{{$expense.Description}}", {{$expense.Type}}, {{$expense.Date.Unix}}, "{{$expense.Currency}}", NULL, {{$expense.UserID}}){{if lt $idx $.Length}},{{end}}
{{- end}}
{{- end}}
