
{{ if eq .Error nil }}
  <div id="categories">
    <ul>
      {{range $key := .Keys}}
        {{$expense := index $.GroupedExpenses $key}}
        
        <li>{{$key}} - {{$expense.Count}}</li> 
        <div>
          <form id='searchform'>
            <input name="description" value={{$key}} type="hidden">
            <select 
              name="categoryID" 
              hx-post="/category" 
              hx-target="#categories" 
              hx-swap="innerHTML">
              {{ range $category := $.Categories }}
                <option value={{$category.ID}}>{{$category.Name}}</option>
              {{ end }}
            </select>
          </form>
        </div>
        <ul>
            {{range $index, $date := $expense.Dates}}
              {{$amount := index $expense.Amounts $index}}
              {{if gt $amount 0}}
                <li> {{$date.Format "2006-01-02"}} - <span style="color:green;"><b>{{formatMoney $amount "." ","}}€</b></span></li>
              {{else}}
                <li> {{$date.Format "2006-01-02"}} - <span style="color:crimson;"><u>{{formatMoney $amount "." ","}}€</u></span></li>
              {{end}}
            {{end}}
        </ul>
      {{end}}
    </ul>
  </div>
{{ else }}
  <h2>There was an error: {{.Error}}</h2>
{{ end }}
