{{range $idx, $expense := .Expenses}}
( {{$expense.ID}}, "{{expense.Source}}", {{$expense.Amount}}, "{{$expense.Description}}", {{$expense.Type}}, {{$expense.Date.Unix}}, "{{$expense.Currency}}", "{{$expense.CategoryID}}"){{if lt $idx $.Length}},{{end}}
{{- end}}
