
Report for {{.Title}}
-----------------------

Spending:                 {{colorOutput (formatMoney .Spending "." ",") "red" "underline"}}€
Income:                   {{colorOutput (formatMoney .Income "." ",") "green" "bold"}}€

{{if gt .Savings 0}}
Savings:                  {{formatMoney .Savings "." ","}}€
                          📈{{colorOutput (printf "%.2f%%" .SavingsPercentage) "green" "bold"}}
{{else}}
Savings:                  {{formatMoney .Savings "." ","}}€
                          📉 {{colorOutput (printf "%.2f%%" .SavingsPercentage) "red" "underline"}}
{{end}}

Earnings Per Day:         {{formatMoney .EarningsPerDay "." ","}}€ 
Average Spending Per Day: {{formatMoney .AverageSpendingPerDay "." "," }}€ 

{{if gt (len .Duplicates) 0}}
⚠️ Possible duplicate movements ⚠️
----------------------------
{{range $duplicate := .Duplicates}}
- {{$duplicate}}
{{- end}}
{{end}}

Categorized 
-----------------------
{{ range $category := .Categories }}
{{- if gt $category.Amount 0 }}
{{- $category.Name}}: {{colorOutput (formatMoney $category.Amount "." ",") "green" "bold" -}}€
{{ else }}
{{- $category.Name}}: {{colorOutput (formatMoney $category.Amount "." ",") "red" "underline" -}}€
{{ end -}}
{{- if $.Verbose -}}
{{- range $expense := $category.Expenses -}}
{{$expense.Source}} {{$expense.Date.Format "2006-01-02"}} {{$expense.Description}} {{formatMoney $expense.Amount "." "," }}€
{{ end }}
{{ end -}}
{{- end -}}
