{{define "base"}}
<!doctype html>
<html lang='en'>

  <head>
    <title>{{template "title" .}}</title>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <link rel="stylesheet" href=/static/css/layout.css>
    <link rel="stylesheet" href={{template "css" .}}>
    <link href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,500;12..96,600;12..96,700&family=Instrument+Sans:wght@400;500;600;700&family=Spline+Sans+Mono:wght@400;500;600&display=swap" rel="stylesheet">
    <script type="module" src="/static/js/expenses.js"></script>
  </head>

  <body>
    <div id="page">
      {{template "nav" .}}

      <div class="bg-white rounded-lg shadow m-3 flex-gw-1 p-8">
        {{template "main" .}}
      </div>
    </div>
  </body>
</html>
{{end}}
